:root {
  --dark-blue: #0c0950;
  --medium-dark-blue: #161179;
  --lighter-blue: #261fb3;
  --pink: #fbe4d6;
  --white: #fff;
  --black: #000;
}

body {
    background-color: var(--dark-blue);
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
