:root {
  --dark-blue: #0c0950;
  --medium-dark-blue: #161179;
  --lighter-blue: #261fb3;
  --pink: #fbe4d6;
  --white: #fff;
  --black: #000;
}

body {
  background-color: var(--dark-blue);
}

* {
  font-family: Poppins, Helvetica, sans-serif;
}
.small-logo-image {
  text-align: center;
  margin-top: 8%;
}
.small-logo-image img {
  width: 30%;
}
.intro-h1 {
  text-align: center;
  color: var(--pink);
  font-weight: 100;
  margin-top: 3%;
  font-size: 2.5rem;
}

/* .btn-primary {
  width: 30%;
  background-color: none;
} */
.guest-login {
  color: var(--pink);
  text-align: center;
  font-size: 0.7rem;
  margin-top: 10%;
}
